

.gridListdemoBasicUsage md-grid-list {
  margin: 50px; }

 .gray {
  background-color: #e6e6e6; }

.foot         /* Image Title css */
{
  width: 100%;
  color: black;
  text-align: left;
  padding: 2px;
  font-size:1.5vw;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  margin-top: 100%;
  margin-left: 2px;
  text-decoration: none;
}
.foot-1            /* Image Title css */
{
  color: black;
  width: 100%;
  text-align: left !important;
  padding: 2px;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  margin-top: 100%;
  margin-left: 2px;
  text-decoration: none;
}
.gridstyle      /* grid List css */
{
  margin-top: 0px !important;
  margin:10%; 
}
.grid-1         /* grid tile 1 css */
{
  width: calc(47.5%) !important
}
.grid-2         /* grid tile 2 css */
{
  width: calc(23.25%) !important;
}
.FirstImage
{
  width: 100%;
  height: 82%;

}
.RestImage
{
  width: 100%;
  height: 64%;
}