

.gridListdemoBasicUsage md-grid-list {
  margin: 50px; }

 .gray {
  background-color: #e6e6e6; }

 .green {
  background-color: #b9f6ca; }

 .yellow {
  background-color: #ffff8d; }

 .blue {
  background-color: #84ffff; }

 .purple {
  background-color: #b388ff; }

 .red {
  background-color: #ff8a80; }

.foot {
  opacity: 1;
  color: #3af;;
  text-align: center;
  padding: 2px;
  font-size:1.5vw;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  margin-top: 100%;
  text-decoration: none;
}
.foot-1 {
  color: #3af;;
  padding: 2px;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 4%;
  position: absolute;
  margin-top: 85%;
  text-decoration: none;
}

.gridstyle {
  margin-top: -10px;
  margin-right: 40px;
  margin-left: 40px;
}

.grid-1 {
  width: calc(47.5%) !important
}
.grid-2 {
  width: calc(23.25%) !important; 
  /* left: calc(76.75%) !important; */
}