<!-- <p>This is the partial for view 1.</p> -->



<div class="gray" ng-controller="View1Controller as appCtrl" ng-cloak>
    <md-grid-list class="gridstyle"
          md-cols-xs="8" md-cols-sm="8" md-cols-md="8" md-cols-lg="8" md-cols-gt-md="8"
          md-row-height-gt-md="1:1" md-row-height="2:2"
          md-gutter="1%" md-gutter-gt-sm="8px" >
  
      <md-grid-tile class="grid-1"
            md-rowspan="4" md-colspan="4" md-colspan-xs="4" md-colspan-sm="4" md-colspan-md="4" md-colspan-lg="4">
          <img class="FirstImage" ng-src="{{images[0].url}}" alt="Image is Loading....">
          <a href="" class="foot-1" >{{data[0]}}</a>
      </md-grid-tile>

      <md-grid-tile class="grid-2"
            md-rowspan="2" md-colspan="2" md-colspan-xs="2" md-colspan-md="2" md-colspan-lg="2" md-colspan-lg="4" 
            ng-repeat="x in images" ng-if="$index > 0 && $index < 5">
            <img class="RestImage" ng-src="{{images[$index].url}}" alt="Image is Loading....">
            <a href="" class="foot">{{data[$index]}}</a>
      </md-grid-tile>

    </md-grid-list>
  </div>